td.magazine-title{
    vertical-align: middle;
    text-align: left;
}
th.magazine-title{
    vertical-align: middle;
    text-align: left;
}
th{
    text-align: center;
}
td.gou{
    text-align: center;
}
span.release_date {
    color: #7d7d7d;
}

.breadcrumb{
    padding: .5rem 1rem;
}

.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
    padding-right: 0;
}

a.navbar-brand {
    font-family: 'Quicksand', sans-serif;
}
.brand-text{
    font-family: 'Quicksand', sans-serif;
}