<!DOCTYPE html>
<html>
{% include 'layouts/head.html' %}
<body>
{% include 'layouts/navbar.html' %}
<div class="container">
    <div class="text-center">
        <img src="/img/magazine-checker.png" width="80px" height="60px" alt="">
    </div>

    <p class="text-center brand-text"><span>Magazine Checker</span>
    <p class="text-center">雑誌の発売日をチェックするためのサイトです。</p>
    <p class="text-center">個人で作成しているものであるため、情報の妥当性については保証しません。</p>
    <p class="text-center">ごめんね。</p>
    <p class="text-center">サービス向上のためのご意見ご要望がある方は
        私のツイッターまでご連絡お願いします。</p>
    <p class="text-center">
        <a href="https://twitter.com/yamahare" target="_blank">@yamahare</a>
    </p>
</div>
</body>
</html>