<!DOCTYPE html>
<html>
{% include 'layouts/head.twig' %}
<body>
{% include 'layouts/navbar.twig' %}

<div class="container p-3">

    {% include 'layouts/breadcrumb.twig' %}

    <div class="row px-3">
        <div class="mx-auto" style="width: 400px;">
            <div class="text-center">
                <img src="/img/magazine-checker.png" width="80px" height="60px" alt="">
            </div>

            <p class="text-center brand-text"><span>Magazine Checker</span>
            <p>雑誌の発売日をチェックするためのサイトです。</p>
            <p>個人で作成しているものであるため、情報の妥当性については保証しません。</p>
            <p>ごめんね。</p>
            <p>サービス向上のためのご意見ご要望がある方は
                私のツイッターまでご連絡お願いします。</p>
            <p class="text-center">
                <a href="https://twitter.com/yamahare" target="_blank">@yamahare</a>
            </p>
        </div>
    </div>

</div>
</body>
</html>