<!DOCTYPE html>
<html>
{% include 'layouts/head.html' %}
<body>
    {% include 'layouts/navbar.html' %}
    <div class="container p-3">

        <div class="row px-3">
            {% include 'index/index-table.twig' %}
        </div>
        <div class="row px-3">
            {% include 'index/checklist.twig' %}
        </div>
        <div class="row px-3">
            {% include 'layouts/footer.html' %}
        </div>

    </div>
</body>
</html>