<!DOCTYPE html>
<html>
{% include 'layouts/head.html' %}
<body>
    {% include 'layouts/navbar.html' %}
    <div class="container">
        {% include 'index/index-table.twig' %}
        {% include 'index/checklist.html.twig' %}
        {% include 'layouts/footer.html' %}
    </div>
</body>
</html>