<!DOCTYPE html>
<html>
{% include 'layouts/head.twig' %}
<body>
{% include 'layouts/navbar.twig' %}
<div class="container p-3">

    <div class="row px-3">
        <h1>404 not found</h1>
    </div>
    <div class="row px-3">
        <p>お探しのページはなんでしょう？(´・ω・｀)</p>
    </div>
</div>
</body>
</html>