<!DOCTYPE html>
<html>
{% include 'layouts/head.twig' %}
<body>
{% include 'layouts/navbar.twig' %}

<div class="container p-3">

    <div class="row px-3">
        <h3>雑誌</h3>
        <table class="table">
            {% for magazine in magazine_list %}
            <tr>
                {# タイトル #}
                <td class='magazine-title'>
                    <a href="magazines/{{ magazine }}">{{ magazine }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row px-3">
        {% include 'layouts/footer.twig' %}
    </div>

</div>

</body>
</html>