<!DOCTYPE html>
<html>
{% include 'layouts/head.twig' %}
<body>
{% include 'layouts/navbar.twig' %}

<div class="container p-3">

    {% include 'layouts/breadcrumb.twig' %}

    <h4>雑誌一覧</h4>
    <div class="row px-3">
        <table class="table">
            {% for magazine in magazine_list %}
            <tr>
                <td class='magazine-title'>
                    <a href="magazines/{{ magazine }}">{{ magazine }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

</body>
</html>