<!DOCTYPE html>
<html>
{% include 'layouts/head.twig' %}
<body>
{% include 'layouts/navbar.twig' %}

<div class="container p-3">

    <h3><a href="/magazines">雑誌</a> > {{ magazine_info.name }}</h3>
    <p><a href="{{ magazine_info.url }}" target="_blank">公式サイト</a></p>

    <div class="row px-3">
        {% include 'layouts/footer.twig' %}
    </div>

</div>

</body>
</html>