<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<div class="container">
    <h3>本サイトについて</h3>
    <p>本サイトは、雑誌の発売日をチェックするためのサイトです。</p>
    <p>個人で作成しているものであるため、情報の妥当性については保証しません。</p>
    <p>ごめんね。</p>
    <p>サービス向上のためのご意見ご要望がある方は
        私のツイッターまでご連絡お願いします。</p>
    <a href="https://twitter.com/yamahare" target="_blank">@yamahare</a></div>
</body>
</html>