<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% include 'magazines.html.twig' %}
        {% include 'checklist.html.twig' %}
        {% include 'footer.html' %}
    </div>
</body>
</html>